body {
  background-color: #000;
  overflow-x: hidden;
}
#parallax__cont {
  scroll-behavior: none;
  overscroll-behavior: none;
  width: 19000px;
  display: flex;
  flex-wrap: nowrap;
}
.parallax__item {
  height: 100vh;
  position: relative;
}

#section9 {
  background-color: #999;
  width: 1000px;
}

.parallax__item__num {
  font-size: 5vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "Lato";
  font-weight: 100;
  z-index: 100;
}
