#section1 {
    height: 100vh;
    display: flex;
    position: relative;

    .start__img {
        width: 600px;
        height: 70vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../../images/section1/main_frist_img.png);
    }
    .circle {
        position: absolute;
        left: 500px;
        top: 55%;
        width: 200px;
        height: 200px;
        background-color: #000;
        color: #fff;
        font-size: 2vh;
        border-radius: 50%;
        text-align: center;
        line-height: 200px;
        font-family: 'Jura'
    }
    .start__desc {
        margin-right: 0 !important;
        margin-left: 10vh;
        margin-top: 8vh;
        .desc {
            width:45vh;
            p {
                font-size: 2vh;
            }
            span {
                display: inline-block;
                margin-top: 45vh;
                font-size: 1.6vh;
                text-align: right;
            }
        }
    }
    .text__wrap {
        z-index: 100;
        text-transform: uppercase;
        font-size: 47vh;
        line-height: 0.71;
        font-family: "Cormorant Garamond";
        font-weight: 100;
        margin-left: 8vh;
        color: #000;

        div:nth-child(1){}
        div:nth-child(2){
            padding-left: 40vh;
        }
        div:nth-child(3){
            padding-left: 14vh;
        }
    }
    .profile__img {
        width: 100vh;
        height: 100vh;
        margin-left: -45vh;
        background-repeat: no-repeat;
        background-position: top;
        background-image: url(../../images/section2/myintro.jpg);
    
    }
}