#section2 {
  //   background-color: #858585;
  width: 2000px;

  .webstandard__wrap {
    display: flex;
    font-family: "Cormorant Garamond";
    .webstandard__deco {
      width: 100px;
      height: 100px;
      position: relative;
      em {
        display: inline-block;
        position: absolute;
        top: -95vh;
        left: -750%;
        font-size: 30vh;
        transform: rotate(270deg);
        &::before {
          content: "";
          background-color: #000;
          border: 1px solid #000;
          height: 0.5vh;
          width: 50vh;
          left: -40%;
          top: 57%;
          position: absolute;
        }
      }
    }
    .webstandard__img__wrap {
      margin-left: 5%;
      width: 800px;
      height: 100vh;
      overflow: hidden;
      position: relative;

      .webstandard__img {
        position: absolute;
        left: -70%;
        top: -5%;
        width: 110%;
        height: 105%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(../../assets/images/section2/web_st01.jpg);
      }
    }
    .webstandardsite {
      display: inline-block;
      width: 200px;
      height: 200px;
      top: 60%;
      left: 45%;
      border-radius: 50%;
      background-color: #51644a;
      position: absolute;
      text-align: center;
      transition: all 0.3s;
      letter-spacing: 3px;

      &:hover {
        transform: scale(90%);
        .webstandard__circle {
          letter-spacing: 10px;
          margin-left: 5%;
          border-radius: 50%;
        }
      }

      .webstandard__circle {
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        line-height: 200px;
      }
    }

    .webstandard__desc__wrap {
      width: 1000px;
      padding-left: 20vh;

      h3 {
        font-size: 4vh;
        font-family: jura;
        margin-top: 15vh;
        text-transform: uppercase;
        margin-bottom: 3%;
        font-weight: bold;
      }
      p {
        width: 60%;
        margin-bottom: 5%;
      }

      .sitebtn {
        padding: 1vh 7vh;
        border-radius: 50px;
        height: 20px;
        background-color: #000;
        color: #fff;
        font-weight: 100;
        letter-spacing: 1px;
      }
      .e__desc {
        position: absolute;
        width: 17%;
        top: 50%;
        left: 70%;
        color: #4e644a;
        font-size: 2vh;
        text-align: right;
        line-height: 1.4;
        word-break: keep-all;
      }
    }
  }
}
