#section3 {
    width: 2000px;
    .bg__dn {
        display: flex;
        justify-content: space-between;
        transform: rotate(270deg);
        .deg_w {
            height: 30vh;
            margin-top: -115vh;
            font-size: 22vh;
            margin-left: 10vh;
            margin-right: 35vh;
            width: 200%;


        }
        .line {
            margin-top: -96vh;
            border: 0.2vh solid #333;
            width: 150vw;
            height: 0.1vh;
            margin-left: -10vh;
        }
    }
    .webstan {
        margin-left: 300px;
        .webstan__img {
            width: 90vh;
            height: 100vh;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            background-image: url(../images/section3/site01.png);
        }
        .webstan__img__min {
            width: 600px;
            height: 300px;
            position: absolute;
            left: 100vh;
            top: 50vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url(../images/section3/site01-01.png);
        }

        .webstan__circle {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: #000;
            position: absolute;
            left: 153vh;
            top: 70vh;
            text-align: center;
            a {
                line-height: 180px;
            color: #fff;

                font-size: 2vh;
                font-family: "Cormorant Garamond";
            }
            ;


        }

    }
    
    
}