#section3 {
  width: 2000px;
  z-index: 1;
  .responsive__wrap {
    display: flex;
    font-family: "Cormorant Garamond";
    .responsive__deco {
      width: 100px;
      height: 100px;
      position: relative;
      em {
        display: inline-block;
        position: absolute;
        top: -50vw;
        left: -88vh;
        z-index: 1;
        font-size: 30vh;
        transform: rotate(270deg);
        &::before {
          content: "";
          background-color: #000;
          border: 1px solid #000;
          height: 0.5vh;
          width: 50vh;
          left: -40%;
          top: 57%;
          position: absolute;
        }
      }
    }
    .responsive__img__wrap {
      margin-left: 5%;
      width: 800px;
      height: 100vh;
      position: relative;
      overflow: hidden;

      .responsive__img {
        position: absolute;
        left: -90%;
        top: -5%;
        width: 110%;
        height: 105%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(../../assets/images/section2/web_st01.jpg);
      }
    }
    .responsivesite {
      display: inline-block;
      width: 200px;
      height: 200px;
      top: 60%;
      left: 45%;
      border-radius: 50%;
      background-color: #64594a;
      position: absolute;
      text-align: center;
      transition: all 0.3s;
      letter-spacing: 3px;

      &:hover {
        transform: scale(90%);
        .responsive__circle {
          transition: all 0.1s;
          letter-spacing: 10px;
          margin-left: 5%;
        }
      }

      .responsive__circle {
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        line-height: 200px;
      }
    }

    .responsive__desc__wrap {
      width: 1000px;
      padding-left: 20vh;

      h3 {
        font-size: 4vh;
        font-family: jura;
        margin-top: 15vh;
        text-transform: uppercase;
        margin-bottom: 3%;
        font-weight: bold;
      }
      p {
        width: 60%;
        margin-bottom: 5%;
      }

      .sitebtn {
        padding: 1vh 7vh;
        border-radius: 50px;
        height: 20px;
        background-color: #000;
        color: #fff;
        font-weight: 100;
        letter-spacing: 1px;
      }
      .e__desc {
        position: absolute;
        width: 17%;
        top: 50%;
        left: 70%;
        color: #64594a;
        font-size: 2vh;
        text-align: right;
        line-height: 1.4;
        word-break: keep-all;
      }
    }
  }
}
