body {
  overflow-x: hidden;
}
#parallax__cont {
  scroll-behavior: none;
  overscroll-behavior: none;
  width: 13800px;
  display: flex;
  flex-wrap: nowrap;
}
.parallax__item {
  height: 100vh;
  position: relative;
}

#section3 {
  background-color: #333;
  width: 1000px;
}
#section4 {
  background-color: #444;
  width: 1000px;
}
#section5 {
  background-color: #555;
  width: 1000px;
}
#section6 {
  background-color: #666;
  width: 1000px;
}
#section7 {
  background-color: #777;
  width: 1000px;
}
#section8 {
  background-color: #888;
  width: 1000px;
}
#section9 {
  background-color: #999;
  width: 1000px;
}

.parallax__item__num {
  font-size: 5vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "Lato";
  font-weight: 100;
  z-index: 100;
}
